.project_container {
  padding: 2em;
}

.title_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.no_projects {
  margin: 0 auto;
}

.projects {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}