.submit_button {
  background-color: #222;
  color: #fff;
  padding: .7em 1.2em;
  cursor: pointer;
  border: none;
  border-radius: .2em;
  transition: .4s;
}

.submit_button:hover {
  color: #ffbb33;
}